.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    @extend .form-control;
}

.p-inputtext {
  @extend .form-control;
}

@media (min-width: 1399px) {
  .modal-exl {
    max-width: 1350px; 
  } 
}