@charset "ISO-8859-1";

button.visual-manager-action-button.dropdown-toggle::after,
button.visual-manager-action-button.dropdown-toggle:empty::after {
	margin-left: 0 !important;
}

.label-status-green {
	background-color: #0FD700;
	color: #000000;
}

.label-status-blue {
	background-color: #0066FF;
	color: #000000;
}

.label-status-yellow {
	background-color: #f9f10fde;
	color: #000000;
	border: 1px solid #ebe302;
}

.label-status-red {
	background-color: #FF0000;
	color: #FFF;
}

.label-status-default {
	background-color: #BBBBBB;
	color: #000000;
}

a.order-number:hover {
	opacity: 0.6;
}

td div.identifier-cell {
	width: 94%;
	height: 94%;
	top: 3%;
	left: 3%;
	cursor: pointer;
}

td div.identifier-cell:hover {
	opacity: 0.7;
}

td.execution-column {
	cursor: pointer;
}

.modal#executionModal .modal-dialog,
.modal#materialsModal .modal-dialog,
.modal#repairsModal .modal-dialog {
	max-width: 90% !important;
	max-height: 90% !important;
}

.modal#commercialModal #commercialTable_wrapper .dataTables_scrollHeadInner,
.modal#executionModal #executionTable_wrapper .dataTables_scrollHeadInner,
.modal#materialsModal #materialsTable_wrapper .dataTables_scrollHeadInner,
.modal#repairsModal #repairsTable_wrapper .dataTables_scrollHeadInner {
	height: auto !important;
}

.modal#commercialModal #commercialTable_wrapper .dataTables_scrollBody,
.modal#executionModal #executionTable_wrapper .dataTables_scrollBody,
.modal#materialsModal #materialsTable_wrapper .dataTables_scrollBody,
.modal#repairsModal #repairsTable_wrapper .dataTables_scrollBody {
	border-left-width: 0px !important;
}

.modal#materialsModal #materialsTable td.activity-column i:hover,
.modal#repairsModal #repairsTable td.activity-column i:hover {
	opacity: 0.7;
}
