@charset "ISO-8859-1";

.mro-hangar-item {
	font-size: 0px !important;
}
.mro-hangar-item .profile-image {
    /*width: 1em;
    height: 1em;*/
    width: calc(100% - 0rem);
    height: calc(100% - 0rem);
    /* padding: 0.1rem; */
}

.mro-hangar-item:not(img) a {
	line-height: normal !important;
	padding: 0px;
	font-size: calc(1.4vh * 0.85);
}

.mro-hangar-item .badge {
	line-height: normal !important;
	background-color: transparent;
	border-color: transparent;
	padding: 0px;
	color: white;
	padding: 0 2px 0 2px;
	font-size: calc(1.4vh * 0.85);
}

.mro-hangar-item .badge.missing-material {
	line-height: normal !important;
	background-color: transparent;
	border-color: transparent;
	padding: 0px;
	color: white;
	padding: 0 !important;
	font-size: calc(1.4vh * 0.85);
}

.mro-hangar-item a {
	/*width: calc(3rem + 0px) !important;*/
}

.mro-hangar-item a
.mro-hangar-item a:active, 
.mro-hangar-item a:hover, 
.mro-hangar-item a:visited {
	background-color: transparent !important;
}

.mro-hangar-item.missing-materials .mro-hangar-item-container span.missing-material {
	display: block !important;
}

.mro-hangar-vermelho a,
.mro-hangar-vermelho a:focus {
	/*border-color: red !important;*/
}
.mro-hangar-vermelho .mro-percentual-hh {
	background-color: red !important;
}
.mro-hangar-vermelho .mro-tempo-total {
	display: none;
}

.mro-hangar-laranja a,
.mro-hangar-laranja a:focus {
	/*border-color: orange !important;*/
}
.mro-hangar-laranja .mro-percentual-hh {
	background-color: orange !important;
	color: #000;
}
.mro-hangar-laranja .mro-tempo-total {
	display: none;
}

.mro-hangar-amarelo a,
.mro-hangar-amarelo a:focus {
	/*border-color: yellow !important;*/
}
.mro-hangar-amarelo .mro-percentual-hh {
	background-color: #ffdf00 !important;
	color: #000;
}
.mro-hangar-amarelo .mro-tempo-total {
	display: none;
}

.mro-hangar-verde a,
.mro-hangar-verde a:focus {
	/*border-color: green !important;*/
}
.mro-hangar-verde .mro-percentual-hh {
	background-color: green !important;
}
.mro-hangar-verde .mro-tempo-total {
	display: none;
}

.mro-hangar-disponivel .mro-percentual-hh {
	display: none;
}
.mro-hangar-disponivel .mro-tempo-total {
	background-color: #000 !important;
	display: block;
}

.mro-hangar-ferias .mro-percentual-hh {
	display: none;
}
.mro-hangar-ferias .mro-tempo-total {
	display: none;
}

.mro-hangar-missao .mro-percentual-hh {
	display: none;
}
.mro-hangar-missao .mro-tempo-total {
	display: none;
}

.sticky {
  position: fixed;
  top: 0px;
  z-index: 20;
}

.mro-indicador-disponivel,
.mro-indicador-outro {
    opacity: 1;
    height: auto;
    transition: opacity .5s linear;
}

a.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s linear;
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s infinite alternate-reverse both;
      	animation: shadow-drop-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s infinite alternate-reverse both;
      	/*border-radius: 50% !important;*/
}

.mro-hangar-item.shadow-drop-center {
	border-radius: 50% !important;
}

.mro-pesquisa-ok {
	opacity: 1;
}

.mro-pesquisa-nao-ok {
	opacity: 0.2;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 235, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 235, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(255, 235, 0, 0.85);
            box-shadow: 0 0 20px 0px rgba(255, 235, 0, 0.85);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 235, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 235, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(255, 235, 0, 0.85);
            box-shadow: 0 0 20px 0px rgba(255, 235, 0, 0.85);
  }
}

.mobile-select-hangar-on .panel-header-hangar > *, 
.mobile-search-hangar-on .panel-header-hangar > *
{
 			display: none !important; 
 		}

		.mobile-select-hangar-on .panel-select-hangar,
		.mobile-select-hangar-on .panel-select-hangar .selecthangar .mro-app-forms,
		.mobile-search-hangar-on .search .mro-app-forms {
   			display: block !important;
   			position: relative !important;
   			width: 100% !important; 
         }            

		.mobile-select-hangar-on .panel-select-hangar .selecthangar,
		.mobile-search-hangar-on .search {
 			display: -webkit-box !important;
 			display: -ms-flexbox !important;
 			display: flex !important;
 			-webkit-box-flex: 1;
     		-ms-flex: 1;
         	flex: 1; 
         }
   		
   		.mobile-select-hangar-on .panel-select-hangar .selecthangar .mro-app-forms .btn-select-close,
   		.mobile-search-hangar-on:not(.mobile-nav-on) .search .mro-app-forms .btn-search-close {
       display: -webkit-box !important;
       display: -ms-flexbox !important;
       display: flex !important;
       right: 10px;
       width: 26px;
       height: 26px;
       font-size: 1rem; 
   }

		.mobile-select-hangar-on .panel-select-hangar .mro-mobile-only  {
 			display: none !important; 
         }
   
  		.mobile-search-hangar-on:not(.mobile-nav-on) .search .mro-app-forms #txtSearh {
       border: 1px solid #886ab5;
       padding-left: 1rem;
       padding-right: 3rem;
       width: 100%;
       max-width: none;
       background: #fff; 
   }
   
     	.mobile-search-hangar-on:not(.mobile-nav-on) .search .mro-app-forms #txtSearh:focus {
       		border-color: #886ab5; 
       	}
/*FIM - ORIGINAL*/

  .mro-hangar-conteudo-ordens {
   min-height: 70%;
   max-height: 70%;
   height: 70%;
  }
  
  .mro-hangar-conteudo-fora {
  	height: 15%;
  	max-height: 15%;
  }
  
  .mro-hangar-conteudo-disponivel {
  	height: 15%;
  	max-height: 15%;
  }
  
  .panel-leftheading
{
    width: 39px;
    float: left;
    height: 100%;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
	height: 100%;
    float: left;
    width: calc(100% - 39px);
}

.mro-hangar-conteudo-fora .fullscreen-button i:hover,
.mro-hangar-conteudo-disponivel .fullscreen-button i:hover {
	opacity: 1;
}

