div#messageContainer {
	z-index: 10000;
}

button#js-login-btn i {
	display: none;
	margin-left: 6px !important;
}

i#togglePassword {
	position: absolute;
    right: 0;
    padding: 1rem .75rem;
    border: 1px solid transparent;
    transform-origin: 0 0;
    opacity: .65;
    cursor: pointer;
    z-index: 1000 !important;
}

img#logo {
	width: 50%;
}